{% extends 'home/layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  {{ card_title }}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block breadcrumbs %}
  <div class="page-header">
    <a href="{% url 'home' %}" class="btn btn-lg btn-primary"><i class="fas fa-arrow-left mr-1"></i> Voltar</a>
  </div>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="card-head-row">
            <div class="card-title">{{ card_title }}</div>
            <div class="card-tools">
              <a href="{% url 'amostra_create' %}" class="btn btn-lg btn-primary">
                <i class="fas fa-edit"></i>
                <div>Cadastrar</div>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover dataTable">
            <thead>
              <tr>
                <th scope="col" style="width: 1%;"> </th>
                <th scope="col" style="width: 33%;">Tipo</th>
                <th scope="col" style="width: 33%;">Data Coleta</th>
                <th scope="col" style="width: 33%">Meio Acondicionamento</th>
                <th scope="col" class="text-center" style="width: 1%;" ></th>
              </tr>
            </thead>
            <tbody>
              {% for amostra in amostra_list %}
                <tr>
                  <td class="text-center">{% if amostra.is_compartilhavel %}<i class="fas fa-users" title="Compartilhável">{% endif %}</td>
                  <td>{{ amostra.get_tipo_amostra_display }}</td>
                  <td>{{ amostra.data_coleta }}</td>
                  <td>{{ amostra.get_meio_acondicionamento_display }}</td>
                  <td>
                    <a href="{% url 'amostra_read' amostra.id %}" class="btn btn-icon btn-primary" style="padding-top: .65rem"><i class="fas fa-eye"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script src="{% static 'assets/js/primato/primato_script.js' %}"></script>
{% endblock %}
