{% extends 'home/layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  {{ card_title }}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block breadcrumbs %}
  <div class="page-header">
    <a href="{% url 'home' %}" class="btn btn-lg btn-primary"><i class="fas fa-arrow-left mr-1"></i> Voltar</a>
  </div>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="card-head-row">
            <div class="card-title">{{ card_title }}</div>
            <div class="card-tools">
              <a href="{% url 'material_biologico_create' %}" class="btn btn-lg btn-primary">
                <i class="fas fa-edit"></i>
                <div>Cadastrar</div>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover dataTable">
            <thead>
              <tr>
                <th scope="col" style="width: 10;">Tipo</th>
                <th scope="col" style="width: 10;">Data Coleta</th>
                <th scope="col" style="width: 10;">Meio Acondicionamento</th>
                <th scope="col" style="width: 10;">Compatilhavel</th>
                <th class="text-center" style="width: 1%;" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for meus_material in meus_material_list %}
                <tr>
                  <td>{{ meus_material.get_tipo_material_display }}</td>
                  <td>{{ meus_material.data_coleta }}</td>
                  <td>{{ meus_material.get_meio_acondicionamento_display }}</td>
                  <td>{{ meus_material.is_compartilhavel }}</td>
                  <td>
                    {% comment %}
                    <a href="{% url 'material_biologico_update' meus_material.id %}" class="btn btn-icon btn-primary" style="padding-top: .65rem"><i class="fas fa-eye"></i></a>
                    {% endcomment %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% if exame_deleted_lista %}
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <div class="card-title">Lista de Exame Excluídos</div>
              <div class="card-tools"></div>
            </div>
          </div>

          <div class="card-body">
            <table class="table table-hover dataTable">
              <thead>
                <tr>
                  <th scope="col" style="width: 45%;">Nome</th>
                </tr>
              </thead>
              <tbody>
                {% for exame_deleted in exame_deleted_lista %}
                  <tr>
                    <td>{{ exame_deleted.nome }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script src="{% static 'assets/js/primato/primato_script.js' %}"></script>
{% endblock %}
