{% extends 'home/layout/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  {{ card_title }}
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block breadcrumbs %}
  <div class="page-header">
    <a href="{% url 'projeto_list' %}" class="btn btn-lg btn-primary"><i class="fas fa-arrow-left mr-1"></i> Voltar</a>
  </div>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xl">
      <div class="card">
        <div class="card-header">
          <div class="card-head-row">
            <div class="card-title p-2">{{ card_title }}</div>
            <div class="card-tools">
              {% if is_view %}
                <a href="{% url 'projeto_update' form.initial.id %}" class="btn btn-primary">Editar</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post">
            <div class="row">
              {% crispy form %}
            </div>
            <div class="row">
              {% if not is_view %}
                <div class="col-xl-3">
                  <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">
                      <i class="fas fa-save"></i>
                      <div>Salvar</div>
                    </button>
                  </div>
                </div>
              {% endif %}
              <div class="col-xl-3">
                {% if form.initial.id and not is_view %}
                  <div class="form-group">
                    <button type="button" class="btn btn-danger btn-lg btn-block" id="projeto_delete_button">
                      <i class="fas fa-trash-alt"></i>
                      <div>Excluir</div>
                    </button>
                  </div>
                {% endif %}
              </div>
              <div class="col-xl-3">
                <div class="form-group">
                  <button type="button" class="btn btn-success btn-lg btn-block" id="projeto_sheet_button">
                    <i class="fas fa-save"></i>
                    <div>Baixar Planilha</div>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  {% if form.initial.id and not is_view %}
    <script>
      $('#projeto_delete_button').click(function (e) {
        swal({
          text: 'Tem certeza que deseja excluir?',
          icon: 'info',
          buttons: {
            confirm: {
              text: 'Sim',
              className: 'btn btn-success'
            },
            cancel: {
              text: 'Não',
              visible: true,
              className: 'btn btn-danger'
            }
          }
        }).then((Delete) => {
          if (Delete) {
            window.location.href = "{% url 'projeto_delete' form.initial.id %}"
          } else {
            swal.close()
          }
        })
      })
    </script>

    <script>
      $('#projeto_sheet_button').click(function (e) {
        window.location.href = "{% url 'projeto_sheet' form.initial.id %}"
      })
    </script>
  {% endif %}
{% endblock %}
